* 
{
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding: 0;
    box-sizing: border-box;
}

.div1 {

    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding: 0;

}
.btn {

    font-size: larger;
    margin-top: 2px;
    margin-right: 4px;
    background-color: rgb(0, 252, 13);
    color: rgb(25, 80, 42);
    border-width: thick;
    border-color:rgb(32, 131, 13);
    width: 242px;
    float: left;
    
    padding-left: 0;

}

.clouds{
    position: absolute;
    width: 550px;

    animation: clouds-animation 10s infinite linear;
}

.gameboard{
    width: 100%;
    height: 500px;
    border-bottom: 5px solid rgb(23, 231, 33);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgb(34, 179, 236), rgb(176, 255, 255))
}

.pipe{
    position:absolute;
    bottom: 0;
    width: 70px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario{
    position: absolute;
    width: 150px;
    bottom: 0;
}

.marioGameOver{
    position: absolute;
    width: 150px;
}

.jump {
    animation: mario-jump 500ms;
}

@keyframes pipe-animation{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }


}

@keyframes mario-jump{
    0% {
        bottom: 0;

    }
    40% {
        bottom: 180px;
    }
    
    50% {
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0px;
    }
}

@keyframes clouds-animation{

    from{
        right: -550px;
    }
    to{
        right: 100%;
    }


}
